@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 0; }

*, ::after, ::before {
  box-sizing: inherit;
  outline: none;
  scroll-behavior: smooth; }

.center_block {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

img {
  max-width: 100%;
  height: auto; }

textarea {
  resize: none; }

.header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 70px; }
.contact_info__wraper {
	position: relative;
}
  @media all and (max-width: 1023px) {
	  .main_services {
		  margin-top: 80px;
	  }
    .header {
      padding-top: 20px;
      padding-bottom: 0 !important;
		margin-bottom: 0 !important;} }
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #0095D9; }
  .header__logo {
    display: block;
    flex: 0 0 170px;
    margin-right: 30px; }
    @media all and (max-width: 1023px) {
      .header__logo {
        flex: none;
        max-width: 155px;
        width: 100%; } }
.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before, .dgwt-wcas-preloader {
	display: none !important;
}
  .dgwt-wcas-search-wrapp {
    position: relative;
    width: 100%;
	  margin-bottom: 0;
    margin-right: 30px; }
    .dgwt-wcas-search-wrapp input[type="search"] {
      background: #EFEFEF;
      border-radius: 1000px !important;
      border: 0;
		
      padding: 10px 20px;
      padding-right: 40px;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      width: 100%; }
      .dgwt-wcas-search-wrapp input[type="search"]::placeholder {
        color: #CCCCCC;
      font-style: normal !important; }
    .dgwt-wcas-search-wrapp button[type="submit"] {
      right: 20px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      top: 50%;
      font-size: 0;
      border: 0;
      position: absolute;
      z-index: 2;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4733 13.5266L11.9999 11.0733C12.96 9.87621 13.4249 8.3568 13.2991 6.82747C13.1733 5.29814 12.4664 3.87512 11.3236 2.85103C10.1808 1.82694 8.68914 1.27961 7.15522 1.32158C5.62129 1.36356 4.16175 1.99164 3.0767 3.0767C1.99164 4.16175 1.36356 5.62129 1.32158 7.15522C1.27961 8.68914 1.82694 10.1808 2.85103 11.3236C3.87512 12.4664 5.29814 13.1733 6.82747 13.2991C8.3568 13.4249 9.87621 12.96 11.0733 11.9999L13.5266 14.4533C13.5886 14.5158 13.6623 14.5654 13.7436 14.5992C13.8248 14.633 13.9119 14.6505 13.9999 14.6505C14.0879 14.6505 14.1751 14.633 14.2563 14.5992C14.3376 14.5654 14.4113 14.5158 14.4733 14.4533C14.5934 14.329 14.6606 14.1628 14.6606 13.9899C14.6606 13.817 14.5934 13.6509 14.4733 13.5266ZM7.33327 11.9999C6.41029 11.9999 5.50804 11.7262 4.74061 11.2135C3.97318 10.7007 3.37504 9.97185 3.02183 9.11913C2.66862 8.2664 2.57621 7.32809 2.75627 6.42285C2.93634 5.5176 3.38079 4.68608 4.03344 4.03344C4.68608 3.38079 5.5176 2.93634 6.42285 2.75627C7.32809 2.57621 8.2664 2.66862 9.11913 3.02183C9.97185 3.37504 10.7007 3.97318 11.2135 4.74061C11.7262 5.50804 11.9999 6.41029 11.9999 7.33327C11.9999 8.57095 11.5083 9.75793 10.6331 10.6331C9.75793 11.5083 8.57095 11.9999 7.33327 11.9999Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A") 50% no-repeat;
    padding: 0;
    right: 0;
    bottom: unset;
    top: 50%;
    margin-top: -20px;
}
.dgwt-wcas-open .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
		padding-right: 40px !important;
}
    @media all and (max-width: 1023px) {
      .dgwt-wcas-search-wrapp {
        display: none; } }
  .header__soc {
    flex: 0 0 25px;
    display: block; }
    .header__soc svg path {
      transition: all .3s ease-out; }
      .header__soc svg path:hover {
        fill: #FF8006; }
    @media all and (max-width: 1023px) {
      .header__soc {
        display: none; } }
  .header__tel {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
	  white-space: nowrap;
    letter-spacing: 0.06em;
    color: #000000;
    text-decoration: none;
    flex: 0 0 200px;
    margin-left: 30px; }
    @media all and (max-width: 1023px) {
      .header__tel {
        display: none; } }
  .header__button {
    text-decoration: none;
    background: #0095D9;
    border-radius: 500px;
    padding: 10px 15px;
    text-align: right;
    padding-left: 45px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    flex: 0 0 170px;
    margin-left: 30px;
    transition: all .3s ease-out; }
    .header__button:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      margin-top: -10px;
      top: 50%;
      left: 15px;
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2001 10.8333C16.0168 10.8333 15.8251 10.775 15.6418 10.7333C15.2705 10.6515 14.9056 10.5429 14.5501 10.4083C14.1635 10.2677 13.7385 10.275 13.357 10.4288C12.9755 10.5827 12.6643 10.8722 12.4834 11.2416L12.3001 11.6166C11.4884 11.1651 10.7426 10.6043 10.0834 9.94997C9.42906 9.29082 8.86827 8.54497 8.41675 7.7333L8.76675 7.49997C9.13622 7.31907 9.42573 7.00791 9.57958 6.62638C9.73342 6.24485 9.74073 5.8199 9.60008 5.4333C9.46777 5.07699 9.3592 4.7123 9.27508 4.34164C9.23342 4.1583 9.20008 3.96664 9.17508 3.77497C9.07389 3.18799 8.76644 2.65642 8.3081 2.276C7.84977 1.89559 7.27066 1.69131 6.67508 1.69997H4.17508C3.81594 1.6966 3.46029 1.77065 3.13234 1.91708C2.80439 2.06351 2.51184 2.27888 2.27461 2.54854C2.03738 2.81819 1.86103 3.1358 1.75757 3.47973C1.65412 3.82367 1.62598 4.18585 1.67508 4.54164C2.11903 8.03279 3.71344 11.2765 6.20646 13.7605C8.69948 16.2445 11.949 17.8271 15.4418 18.2583H15.7584C16.3729 18.2592 16.9662 18.0337 17.4251 17.625C17.6887 17.3892 17.8993 17.1001 18.043 16.7769C18.1866 16.4537 18.2601 16.1037 18.2584 15.75V13.25C18.2482 12.6711 18.0374 12.1138 17.662 11.673C17.2866 11.2323 16.7699 10.9355 16.2001 10.8333ZM16.6168 15.8333C16.6166 15.9516 16.5913 16.0686 16.5424 16.1763C16.4935 16.2841 16.4223 16.3802 16.3334 16.4583C16.2403 16.5387 16.1314 16.5988 16.0138 16.6346C15.8961 16.6705 15.7722 16.6814 15.6501 16.6666C12.5292 16.2665 9.63028 14.8387 7.41068 12.6085C5.19108 10.3784 3.77709 7.47275 3.39175 4.34997C3.37849 4.2279 3.39011 4.10441 3.42592 3.98696C3.46173 3.86951 3.52098 3.76054 3.60008 3.66664C3.67818 3.57775 3.7743 3.50651 3.88207 3.45765C3.98983 3.4088 4.10676 3.38345 4.22508 3.3833H6.72508C6.91887 3.37899 7.1081 3.44237 7.2602 3.56253C7.4123 3.68269 7.51776 3.85211 7.55842 4.04164C7.59175 4.26942 7.63342 4.49442 7.68342 4.71664C7.77968 5.15593 7.9078 5.58762 8.06675 6.00831L6.90008 6.54997C6.80033 6.59574 6.7106 6.66076 6.63605 6.7413C6.56149 6.82184 6.50358 6.91632 6.46564 7.0193C6.4277 7.12228 6.41048 7.23175 6.41496 7.34141C6.41944 7.45107 6.44553 7.55876 6.49175 7.6583C7.69108 10.2273 9.75612 12.2923 12.3251 13.4916C12.528 13.575 12.7555 13.575 12.9584 13.4916C13.0623 13.4545 13.1579 13.397 13.2394 13.3226C13.3209 13.2482 13.3869 13.1584 13.4334 13.0583L13.9501 11.8916C14.3809 12.0457 14.8206 12.1737 15.2668 12.275C15.489 12.325 15.714 12.3666 15.9417 12.4C16.1313 12.4406 16.3007 12.5461 16.4209 12.6982C16.541 12.8503 16.6044 13.0395 16.6001 13.2333L16.6168 15.8333Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; }
    .header__button:hover {
      background: #FF8006; }
    @media all and (max-width: 1023px) {
      .header__button {
        display: none; } }
  .header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media all and (max-width: 1023px) {
      .header__bottom {
        display: none; } }
  .header__cat {
    flex: 0 0 115px;
    margin-right: 45px; }
  .header__but {
    background: #0095D9;
    border-radius: 500px;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #FFFFFF;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-out; }
    .header__but:before {
      content: '';
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -10px;
      width: 20px;
      transition: all .3s ease-out;
      height: 20px;
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.50008 6.66667H17.5001C17.7211 6.66667 17.9331 6.57887 18.0893 6.42259C18.2456 6.26631 18.3334 6.05435 18.3334 5.83333C18.3334 5.61232 18.2456 5.40036 18.0893 5.24408C17.9331 5.0878 17.7211 5 17.5001 5H2.50008C2.27907 5 2.06711 5.0878 1.91083 5.24408C1.75455 5.40036 1.66675 5.61232 1.66675 5.83333C1.66675 6.05435 1.75455 6.26631 1.91083 6.42259C2.06711 6.57887 2.27907 6.66667 2.50008 6.66667ZM17.5001 13.3333H2.50008C2.27907 13.3333 2.06711 13.4211 1.91083 13.5774C1.75455 13.7337 1.66675 13.9457 1.66675 14.1667C1.66675 14.3877 1.75455 14.5996 1.91083 14.7559C2.06711 14.9122 2.27907 15 2.50008 15H17.5001C17.7211 15 17.9331 14.9122 18.0893 14.7559C18.2456 14.5996 18.3334 14.3877 18.3334 14.1667C18.3334 13.9457 18.2456 13.7337 18.0893 13.5774C17.9331 13.4211 17.7211 13.3333 17.5001 13.3333ZM17.5001 9.16667H2.50008C2.27907 9.16667 2.06711 9.25446 1.91083 9.41074C1.75455 9.56702 1.66675 9.77899 1.66675 10C1.66675 10.221 1.75455 10.433 1.91083 10.5893C2.06711 10.7455 2.27907 10.8333 2.50008 10.8333H17.5001C17.7211 10.8333 17.9331 10.7455 18.0893 10.5893C18.2456 10.433 18.3334 10.221 18.3334 10C18.3334 9.77899 18.2456 9.56702 18.0893 9.41074C17.9331 9.25446 17.7211 9.16667 17.5001 9.16667Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; }
    .header__but:hover {
      background: #FF8006; }
    .header__but.isOpened:before {
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.175 10.0002L16.425 4.75849C16.5819 4.60157 16.6701 4.38874 16.6701 4.16682C16.6701 3.9449 16.5819 3.73207 16.425 3.57515C16.2681 3.41823 16.0552 3.33008 15.8333 3.33008C15.6114 3.33008 15.3986 3.41823 15.2417 3.57515L9.99999 8.82515L4.75832 3.57515C4.6014 3.41823 4.38857 3.33008 4.16666 3.33008C3.94474 3.33008 3.73191 3.41823 3.57499 3.57515C3.41807 3.73207 3.32991 3.9449 3.32991 4.16682C3.32991 4.38874 3.41807 4.60157 3.57499 4.75849L8.82499 10.0002L3.57499 15.2418C3.49688 15.3193 3.43489 15.4115 3.39258 15.513C3.35027 15.6146 3.32849 15.7235 3.32849 15.8335C3.32849 15.9435 3.35027 16.0524 3.39258 16.154C3.43489 16.2555 3.49688 16.3477 3.57499 16.4252C3.65246 16.5033 3.74463 16.5653 3.84618 16.6076C3.94773 16.6499 4.05665 16.6717 4.16666 16.6717C4.27667 16.6717 4.38559 16.6499 4.48714 16.6076C4.58869 16.5653 4.68085 16.5033 4.75832 16.4252L9.99999 11.1752L15.2417 16.4252C15.3191 16.5033 15.4113 16.5653 15.5128 16.6076C15.6144 16.6499 15.7233 16.6717 15.8333 16.6717C15.9433 16.6717 16.0523 16.6499 16.1538 16.6076C16.2554 16.5653 16.3475 16.5033 16.425 16.4252C16.5031 16.3477 16.5651 16.2555 16.6074 16.154C16.6497 16.0524 16.6715 15.9435 16.6715 15.8335C16.6715 15.7235 16.6497 15.6146 16.6074 15.513C16.5651 15.4115 16.5031 15.3193 16.425 15.2418L11.175 10.0002Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; }
  .header__nav {
    width: calc(100% - 345px); }
    .header__nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative; }
      @media all and (max-width: 1160px) {
        .header__nav ul {
          justify-content: space-between; } }
      .header__nav ul li {
        margin-left: 17px;
        margin-right: 17px; }
        @media all and (max-width: 1160px) {
          .header__nav ul li {
            margin-left: 3px;
            margin-right: 3px; } }
        .header__nav ul li a {
          font-family: 'Ubuntu', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #000000;
          text-decoration: none;
          padding-top: 4px;
          padding-bottom: 4px;
          border-bottom: 2px solid transparent;
          transition: all .3s ease-out; }
          .header__nav ul li a:hover, .header__nav ul li a:focus {
            color: #0095D9;
            border-color: #0095D9; }
        .header__nav ul li.menu-item-has-children > a {
          padding-right: 23px;
          position: relative; }
          .header__nav ul li.menu-item-has-children > a:before {
            content: '';
            right: 0;
            width: 13px;
            height: 14px;
            top: 50%;
            transition: all .3s ease-out;
            position: absolute;
            margin-top: -7px;
            background: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5.94971L6.94975 10.8995L11.8995 5.94971' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") 50% no-repeat; }
          .header__nav ul li.menu-item-has-children > a:hover:before, .header__nav ul li.menu-item-has-children > a:focus:before {
            margin-top: -5px;
            transform: rotate(180deg);
            background: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5.94971L6.94975 10.8995L11.8995 5.94971' stroke='%230095D9' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") 50% no-repeat; }
        .header__nav ul li.menu-item-has-children .sub-menu {
          position: absolute;
          top: calc(100% + 13px);
          background: #0095D9;
          border-radius: 10px;
          padding: 30px 60px;
          columns: 2;
          display: block;
          transition: all .3s ease-out;
          opacity: 0;
          visibility: hidden;
          width: 100%;
          right: 0; }
          @media all and (max-width: 1180px) {
            .header__nav ul li.menu-item-has-children .sub-menu {
              padding: 20px; } }
          .header__nav ul li.menu-item-has-children .sub-menu li a {
            margin-bottom: 20px;
            display: inline-block;
            color: #FFFFFF !important; }
            .header__nav ul li.menu-item-has-children .sub-menu li a:hover {
              text-decoration: underline; }
        .header__nav ul li.menu-item-has-children:hover .sub-menu {
          opacity: 1;
          visibility: visible; }
  .header__cart {
    display: flex;
    align-items: center;
    flex: 0 0 170px;
    text-decoration: none;
    margin-left: 15px; }
    .header__cart--l-side {
      position: relative;
      flex: 0 0 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #CCCCCC;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 18px; }
    .header__cart--r-side {
      width: 100%; }
      .header__cart--r-side span {
        display: block;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #000000;
        margin-bottom: 3px; }
  .header__amount {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    top: -5px;
    right: -8px;
    min-width: 24px;
    border-radius: 50%;
    min-height: 24px;
    background: #FF8006; }
  .header .woocommerce-Price-amount {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FF8006; }
    .header .woocommerce-Price-amount .bdi {
      display: flex;
      align-items: center; }
    .header .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
      display: inline-block;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #FF8006; }

.popups {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
  background: #EEF2F3; }
  .popups__in {
    display: flex;
    flex-direction: column;
    position: relative; }
  .popups.isActive {
    opacity: 1;
    visibility: visible; }
  .popups__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 385px;
    top: 0; }
    @media all and (max-width: 1180px) {
      .popups__menu ul {
        width: 330px; } }
    .popups__menu ul li a {
      text-decoration: none;
      display: block;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      transition: all .3s ease-out;
      color: #000000;
		margin-bottom: 10px;
      padding: 10px 0; }
      .popups__menu ul li a:hover {
        padding-left: 12px;
        padding-right: 12px;
        text-decoration: underline;
        background: #D7DADB;
        font-weight: 400;
        border-radius: 10px; }
    .popups__menu ul li:first-child a {
      pointer-events: none;
      font-family: 'Poiret One', cursive;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: #0095D9;
      margin-bottom: 20px;
      padding: 0; }
    .popups__menu ul li.menu-item-has-children:hover > .sub-menu {
      opacity: 1 !important;
      visibility: visible !important; }
    .popups__menu ul .sub-menu {
      height: 100%;
      position: absolute;
      left: 400px;
      top: 0;
      bottom: 0;
      transition: all .3s ease-out;
      padding-left: 15px;
      border-left: 1px solid #D7DADB;
      opacity: 0;
      visibility: hidden; }
      @media all and (max-width: 1180px) {
        .popups__menu ul .sub-menu {
          left: 345px; } }
      .popups__menu ul .sub-menu .sub-menu {
        left: 384px; }
        @media all and (max-width: 1180px) {
          .popups__menu ul .sub-menu .sub-menu {
            left: 329px; } }
  .popups__block {
    position: relative;
    height: 360px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 20px; }
    @media all and (max-width: 1180px) {
      .popups__block {
        width: 315px;
        height: 330px; } }
    .popups__block:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 23, 0) -39.22%, rgba(0, 0, 23, 0.9) 100%); }
  .popups__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .popups__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .popups__title {
    position: relative;
    z-index: 2;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 10px; }
    @media all and (max-width: 1180px) {
      .popups__title {
        font-size: 25px; } }
  .popups__text {
    position: relative;
    z-index: 2;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 10px; }
  .popups__btn {
    position: relative;
    z-index: 2;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    padding: 15px 15px;
    background: linear-gradient(0deg, #FF8006, #FF8006), #02B896;
    border-radius: 500px;
    text-decoration: none;
    transition: all .3s ease-out;
    max-width: 215px;
    width: 100%; }
    .popups__btn:hover {
      background: #0095D9; }

.site-panel-wrap {
  display: none;
  position: absolute;
  top: 52px;
  right: 18px;
  z-index: 100; }
  @media all and (max-width: 1023px) {
    .site-panel-wrap {
      display: block; } }
  .site-panel-wrap .burger-wrap {
    width: 30px;
    height: 30px; }
    .site-panel-wrap .burger-wrap .burger-btn {
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 10H26.25C26.5815 10 26.8995 9.8683 27.1339 9.63388C27.3683 9.39946 27.5 9.08152 27.5 8.75C27.5 8.41848 27.3683 8.10054 27.1339 7.86612C26.8995 7.6317 26.5815 7.5 26.25 7.5H3.75C3.41848 7.5 3.10054 7.6317 2.86612 7.86612C2.6317 8.10054 2.5 8.41848 2.5 8.75C2.5 9.08152 2.6317 9.39946 2.86612 9.63388C3.10054 9.8683 3.41848 10 3.75 10ZM26.25 20H3.75C3.41848 20 3.10054 20.1317 2.86612 20.3661C2.6317 20.6005 2.5 20.9185 2.5 21.25C2.5 21.5815 2.6317 21.8995 2.86612 22.1339C3.10054 22.3683 3.41848 22.5 3.75 22.5H26.25C26.5815 22.5 26.8995 22.3683 27.1339 22.1339C27.3683 21.8995 27.5 21.5815 27.5 21.25C27.5 20.9185 27.3683 20.6005 27.1339 20.3661C26.8995 20.1317 26.5815 20 26.25 20ZM26.25 13.75H3.75C3.41848 13.75 3.10054 13.8817 2.86612 14.1161C2.6317 14.3505 2.5 14.6685 2.5 15C2.5 15.3315 2.6317 15.6495 2.86612 15.8839C3.10054 16.1183 3.41848 16.25 3.75 16.25H26.25C26.5815 16.25 26.8995 16.1183 27.1339 15.8839C27.3683 15.6495 27.5 15.3315 27.5 15C27.5 14.6685 27.3683 14.3505 27.1339 14.1161C26.8995 13.8817 26.5815 13.75 26.25 13.75Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% no-repeat;
      cursor: pointer; }
    .site-panel-wrap .burger-wrap .burger-close-btn {
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7625 15.0002L24.6375 7.13773C24.8729 6.90235 25.0052 6.58311 25.0052 6.25023C25.0052 5.91735 24.8729 5.59811 24.6375 5.36273C24.4022 5.12735 24.0829 4.99512 23.75 4.99512C23.4172 4.99512 23.0979 5.12735 22.8625 5.36273L15 13.2377L7.13755 5.36273C6.90217 5.12735 6.58292 4.99512 6.25005 4.99512C5.91717 4.99512 5.59793 5.12735 5.36255 5.36273C5.12717 5.59811 4.99493 5.91735 4.99493 6.25023C4.99493 6.58311 5.12717 6.90235 5.36255 7.13773L13.2375 15.0002L5.36255 22.8627C5.24539 22.9789 5.15239 23.1172 5.08893 23.2695C5.02547 23.4218 4.9928 23.5852 4.9928 23.7502C4.9928 23.9152 5.02547 24.0786 5.08893 24.231C5.15239 24.3833 5.24539 24.5215 5.36255 24.6377C5.47875 24.7549 5.617 24.8479 5.76932 24.9113C5.92165 24.9748 6.08503 25.0075 6.25005 25.0075C6.41506 25.0075 6.57844 24.9748 6.73077 24.9113C6.88309 24.8479 7.02134 24.7549 7.13755 24.6377L15 16.7627L22.8625 24.6377C22.9788 24.7549 23.117 24.8479 23.2693 24.9113C23.4216 24.9748 23.585 25.0075 23.75 25.0075C23.9151 25.0075 24.0784 24.9748 24.2308 24.9113C24.3831 24.8479 24.5213 24.7549 24.6375 24.6377C24.7547 24.5215 24.8477 24.3833 24.9112 24.231C24.9746 24.0786 25.0073 23.9152 25.0073 23.7502C25.0073 23.5852 24.9746 23.4218 24.9112 23.2695C24.8477 23.1172 24.7547 22.9789 24.6375 22.8627L16.7625 15.0002Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% no-repeat;
      cursor: pointer; }
    .site-panel-wrap .burger-wrap.opened .burger-body {
      left: 0;
      right: unset; }
    .site-panel-wrap .burger-wrap .burger-body {
      top: 0;
      left: 100%;
      right: -100%;
      transition: all .5s;
      width: 100%;
      position: fixed;
      background: #EEF2F3;
      height: 100vh;
      overflow-y: auto; }
      .site-panel-wrap .burger-wrap .burger-body__top {
        background: #fff;
        border-bottom: 1px solid #0095D9;
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10; }
      .site-panel-wrap .burger-wrap .burger-body__body {
        position: relative;
        padding: 30px 15px 40px 15px; }
      .site-panel-wrap .burger-wrap .burger-body__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        margin-bottom: 10px; }
      .site-panel-wrap .burger-wrap .burger-body__cat {
        background: #0095D9;
        border-radius: 500px;
        padding: 10px 18px;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        color: #FFFFFF;
        padding-left: 45px;
        position: relative;
        cursor: pointer;
        transition: all .3s ease-out; }
        .site-panel-wrap .burger-wrap .burger-body__cat:before {
          content: '';
          position: absolute;
          left: 15px;
          top: 50%;
          margin-top: -10px;
          width: 20px;
          transition: all .3s ease-out;
          height: 20px;
          background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.50008 6.66667H17.5001C17.7211 6.66667 17.9331 6.57887 18.0893 6.42259C18.2456 6.26631 18.3334 6.05435 18.3334 5.83333C18.3334 5.61232 18.2456 5.40036 18.0893 5.24408C17.9331 5.0878 17.7211 5 17.5001 5H2.50008C2.27907 5 2.06711 5.0878 1.91083 5.24408C1.75455 5.40036 1.66675 5.61232 1.66675 5.83333C1.66675 6.05435 1.75455 6.26631 1.91083 6.42259C2.06711 6.57887 2.27907 6.66667 2.50008 6.66667ZM17.5001 13.3333H2.50008C2.27907 13.3333 2.06711 13.4211 1.91083 13.5774C1.75455 13.7337 1.66675 13.9457 1.66675 14.1667C1.66675 14.3877 1.75455 14.5996 1.91083 14.7559C2.06711 14.9122 2.27907 15 2.50008 15H17.5001C17.7211 15 17.9331 14.9122 18.0893 14.7559C18.2456 14.5996 18.3334 14.3877 18.3334 14.1667C18.3334 13.9457 18.2456 13.7337 18.0893 13.5774C17.9331 13.4211 17.7211 13.3333 17.5001 13.3333ZM17.5001 9.16667H2.50008C2.27907 9.16667 2.06711 9.25446 1.91083 9.41074C1.75455 9.56702 1.66675 9.77899 1.66675 10C1.66675 10.221 1.75455 10.433 1.91083 10.5893C2.06711 10.7455 2.27907 10.8333 2.50008 10.8333H17.5001C17.7211 10.8333 17.9331 10.7455 18.0893 10.5893C18.2456 10.433 18.3334 10.221 18.3334 10C18.3334 9.77899 18.2456 9.56702 18.0893 9.41074C17.9331 9.25446 17.7211 9.16667 17.5001 9.16667Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; }
        .site-panel-wrap .burger-wrap .burger-body__cat:hover {
          background: #FF8006; }
      .site-panel-wrap .burger-wrap .burger-body__search {
        width: 100%;
        margin-left: 15px;
        min-height: 36px; }
        .site-panel-wrap .burger-wrap .burger-body__search input[type="text"] {
          background: #fff;
          border-radius: 1000px;
          border: 0;
          padding: 10px 20px;
          padding-right: 40px;
          font-family: 'Ubuntu', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #000000;
          transition: all .3s ease-out;
          width: 100%;
          right: 15px;
          height: 36px; }
          .site-panel-wrap .burger-wrap .burger-body__search input[type="text"]::placeholder {
            color: #CCCCCC; }
          .site-panel-wrap .burger-wrap .burger-body__search input[type="text"]:focus {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 2; }
        .site-panel-wrap .burger-wrap .burger-body__search input[type="submit"] {
          right: 20px;
          width: 16px;
          height: 16px;
          margin-top: -8px;
          top: 50%;
          font-size: 0;
          border: 0;
          position: absolute;
          z-index: 2;
          cursor: pointer;
          background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4733 13.5266L11.9999 11.0733C12.96 9.87621 13.4249 8.3568 13.2991 6.82747C13.1733 5.29814 12.4664 3.87512 11.3236 2.85103C10.1808 1.82694 8.68914 1.27961 7.15522 1.32158C5.62129 1.36356 4.16175 1.99164 3.0767 3.0767C1.99164 4.16175 1.36356 5.62129 1.32158 7.15522C1.27961 8.68914 1.82694 10.1808 2.85103 11.3236C3.87512 12.4664 5.29814 13.1733 6.82747 13.2991C8.3568 13.4249 9.87621 12.96 11.0733 11.9999L13.5266 14.4533C13.5886 14.5158 13.6623 14.5654 13.7436 14.5992C13.8248 14.633 13.9119 14.6505 13.9999 14.6505C14.0879 14.6505 14.1751 14.633 14.2563 14.5992C14.3376 14.5654 14.4113 14.5158 14.4733 14.4533C14.5934 14.329 14.6606 14.1628 14.6606 13.9899C14.6606 13.817 14.5934 13.6509 14.4733 13.5266ZM7.33327 11.9999C6.41029 11.9999 5.50804 11.7262 4.74061 11.2135C3.97318 10.7007 3.37504 9.97185 3.02183 9.11913C2.66862 8.2664 2.57621 7.32809 2.75627 6.42285C2.93634 5.5176 3.38079 4.68608 4.03344 4.03344C4.68608 3.38079 5.5176 2.93634 6.42285 2.75627C7.32809 2.57621 8.2664 2.66862 9.11913 3.02183C9.97185 3.37504 10.7007 3.97318 11.2135 4.74061C11.7262 5.50804 11.9999 6.41029 11.9999 7.33327C11.9999 8.57095 11.5083 9.75793 10.6331 10.6331C9.75793 11.5083 8.57095 11.9999 7.33327 11.9999Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A") 50% no-repeat; }
      .site-panel-wrap .burger-wrap .burger-body__menu {
        margin-bottom: 40px; }
        .site-panel-wrap .burger-wrap .burger-body__menu ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          .site-panel-wrap .burger-wrap .burger-body__menu ul li a {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #999999;
            display: block;
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            text-decoration: none;
            font-weight: 400;
            transition: all .3s ease-out;
            font-size: 16px;
            color: #000000;
            position: relative; }
            .site-panel-wrap .burger-wrap .burger-body__menu ul li a:hover {
              color: #0095D9; }
          .site-panel-wrap .burger-wrap .burger-body__menu ul li.menu-item-has-children {
            border-bottom: 1px solid #999999; }
            .site-panel-wrap .burger-wrap .burger-body__menu ul li.menu-item-has-children > a {
              border: 0; }
              .site-panel-wrap .burger-wrap .burger-body__menu ul li.menu-item-has-children > a:before {
                content: '';
                position: absolute;
                width: 14px;
                transition: all .3s ease-out;
                height: 14px;
                background: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5.94971L6.94975 10.8995L11.8995 5.94971' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                top: 50%;
                margin-top: -7px;
                right: 0; }
              .site-panel-wrap .burger-wrap .burger-body__menu ul li.menu-item-has-children > a.active:before {
                background: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 9L6.94975 4.05025L11.8995 9' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") 50% no-repeat; }
            .site-panel-wrap .burger-wrap .burger-body__menu ul li.menu-item-has-children .sub-menu {
              display: none; }
              .site-panel-wrap .burger-wrap .burger-body__menu ul li.menu-item-has-children .sub-menu li a {
                padding: 0;
                border: 0;
                margin-bottom: 20px;
                font-size: 14px; }
            .site-panel-wrap .burger-wrap .burger-body__menu ul li.menu-item-has-children.active .sub-menu {
              display: block; }
      .site-panel-wrap .burger-wrap .burger-body .header__tel, .site-panel-wrap .burger-wrap .burger-body .header__button, .site-panel-wrap .burger-wrap .burger-body .header__soc {
        display: block;
        margin: 0; }
      .site-panel-wrap .burger-wrap .burger-body__bottom {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between; }

.owf {
  overflow: hidden; }

.slide_menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  background: #EEF2F3;
  top: 0;
  bottom: 0;
  transition: all .3s ease-out;
  height: 100%;
  transform: translateY(-150%); }
  .slide_menu.isOpened {
    transform: translateY(0); }
  .slide_menu .waSlideMenu-nav {
    overflow: unset;
    overflow-x: hidden;
    height: 100vh !important;
    overflow-y: auto; }
  .slide_menu .waSlideMenu-menu {
    padding: 30px 15px; }
    .slide_menu .waSlideMenu-menu a {
      font-family: 'Ubuntu', sans-serif;
      display: block;
      text-decoration: none;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      color: #000000;
      margin-bottom: 20px; }
    .slide_menu .waSlideMenu-menu .waSlideMenu-back {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px; }
      .slide_menu .waSlideMenu-menu .waSlideMenu-back a:first-child {
        font-size: 0;
        flex: 0 0 20px;
        margin-right: 20px;
        height: 20px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.29 9.29C6.19896 9.3851 6.12759 9.49725 6.08 9.62C5.97998 9.86346 5.97998 10.1365 6.08 10.38C6.12759 10.5028 6.19896 10.6149 6.29 10.71L9.29 13.71C9.4783 13.8983 9.7337 14.0041 10 14.0041C10.2663 14.0041 10.5217 13.8983 10.71 13.71C10.8983 13.5217 11.0041 13.2663 11.0041 13C11.0041 12.7337 10.8983 12.4783 10.71 12.29L9.41 11H13C13.2652 11 13.5196 10.8946 13.7071 10.7071C13.8946 10.5196 14 10.2652 14 10C14 9.73478 13.8946 9.48043 13.7071 9.29289C13.5196 9.10536 13.2652 9 13 9H9.41L10.71 7.71C10.8037 7.61704 10.8781 7.50644 10.9289 7.38458C10.9797 7.26272 11.0058 7.13201 11.0058 7C11.0058 6.86799 10.9797 6.73728 10.9289 6.61542C10.8781 6.49356 10.8037 6.38296 10.71 6.29C10.617 6.19627 10.5064 6.12188 10.3846 6.07111C10.2627 6.02034 10.132 5.9942 10 5.9942C9.86799 5.9942 9.73728 6.02034 9.61542 6.07111C9.49356 6.12188 9.38296 6.19627 9.29 6.29L6.29 9.29ZM0 10C0 11.9778 0.58649 13.9112 1.6853 15.5557C2.78412 17.2002 4.3459 18.4819 6.17317 19.2388C8.00043 19.9957 10.0111 20.1937 11.9509 19.8079C13.8907 19.422 15.6725 18.4696 17.0711 17.0711C18.4696 15.6725 19.422 13.8907 19.8079 11.9509C20.1937 10.0111 19.9957 8.00043 19.2388 6.17317C18.4819 4.3459 17.2002 2.78412 15.5557 1.6853C13.9112 0.58649 11.9778 0 10 0C8.68678 0 7.38642 0.258658 6.17317 0.761205C4.95991 1.26375 3.85752 2.00035 2.92893 2.92893C1.05357 4.8043 0 7.34784 0 10ZM18 10C18 11.5823 17.5308 13.129 16.6518 14.4446C15.7727 15.7602 14.5233 16.7855 13.0615 17.391C11.5997 17.9965 9.99113 18.155 8.43928 17.8463C6.88743 17.5376 5.46197 16.7757 4.34315 15.6569C3.22433 14.538 2.4624 13.1126 2.15372 11.5607C1.84504 10.0089 2.00346 8.40034 2.60896 6.93853C3.21447 5.47672 4.23984 4.22729 5.55544 3.34824C6.87103 2.46919 8.41775 2 10 2C12.1217 2 14.1566 2.84285 15.6569 4.34315C17.1571 5.84344 18 7.87827 18 10Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% no-repeat;
        margin-top: 5px; }
      .slide_menu .waSlideMenu-menu .waSlideMenu-back a:last-child {
        font-family: 'Poiret One', cursive;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #0095D9;
        text-decoration: none; }

.footer {
  background: #005D88;
  margin-top: 100px; }
  @media all and (max-width: 1023px) {
    .footer {
      margin-top: 80px; } }
  .footer__in {
    justify-content: space-between;
    display: flex; }
    @media all and (max-width: 1023px) {
      .footer__in {
        flex-direction: column; } }
  .footer__top {
    padding-top: 60px;
    padding-bottom: 34px; }
    @media all and (max-width: 1023px) {
      .footer__top {
        padding-top: 40px;
        padding-bottom: 40px; } }
  .footer__l-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 260px;
    width: 100%;
    margin-right: 41px; }
    @media all and (max-width: 1023px) {
      .footer__l-side {
        max-width: 100%;
        margin-right: 0; } }
  @media all and (max-width: 1023px) {
    .footer__hide {
      display: none; } }
  .footer__hide.mob {
    display: none; }
    @media all and (max-width: 1023px) {
      .footer__hide.mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start; } }
  .footer__logo {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px; }
    @media all and (max-width: 1023px) {
      .footer__logo {
        margin-bottom: 30px; } }
  .footer__lnk {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 29px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF; }
    .footer__lnk:hover {
      text-decoration: underline; }
  .footer__copy {
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF; }
  .footer__rev {
    max-width: 180px;
    width: 100%;
    display: block;
    font-size: 0; }
    .footer__rev:not(:last-child) {
      margin-bottom: 20px; }
  .footer__menu {
    width: calc(100% - 611px); }
    @media all and (max-width: 1023px) {
      .footer__menu {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
        margin-bottom: 40px; } }
    .footer__menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      columns: 2; }
      @media all and (max-width: 1023px) {
        .footer__menu ul {
          columns: 1; } }
      .footer__menu ul li a {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 29px;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF; }
        .footer__menu ul li a:hover {
          text-decoration: underline; }
  .footer__info {
    max-width: 270px;
    width: 100%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media all and (max-width: 1023px) {
      .footer__info {
        max-width: 100%;
        margin-left: 0;
        border-bottom: 1px solid #fff;
        margin-bottom: 40px;
        padding-bottom: 40px; } }
  .footer__address {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 29px; }
  .footer__mail {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 29px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF; }
    .footer__mail:hover {
      text-decoration: underline; }
  .footer__tel {
    display: inline-block;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF; }
    .footer__tel:hover {
      text-decoration: underline; }
  .footer__bottom {
    background: #004666;
    padding-top: 30px;
    padding-bottom: 30px; }
    @media all and (max-width: 1023px) {
      .footer__bottom {
        padding-top: 40px;
        padding-bottom: 40px; } }
    .footer__bottom .footer__in {
      align-items: center; }
      @media all and (max-width: 1023px) {
        .footer__bottom .footer__in {
          align-items: flex-start; } }
  .footer__link {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none; }
    .footer__link:hover {
      text-decoration: underline; }
    @media all and (max-width: 1023px) {
      .footer__link {
        margin-bottom: 20px; } }
  .footer__pays {
    display: flex;
    align-items: center; }
  .footer__pay {
    margin-left: 30px;
    max-width: 70px;
    width: 100%;
    text-align: center; }
    @media all and (max-width: 1023px) {
      .footer__pay {
        margin-left: 0;
        margin-right: 19px; } }

.form-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  padding: 15px;
  /* стили для чекбокса, находящегося в состоянии disabled */ }
  .form-wrapper.opened {
    opacity: 1;
    visibility: visible; }
  .form-wrapper .form-wrapper-inner {
    max-width: 570px;
    width: 100%;
    border-radius: 10px;
    overflow: auto;
    background: #fff;
    position: relative; }
  .form-wrapper .icon-close {
    position: absolute;
    z-index: 2;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.290314 1.69208C-0.0967712 1.30499 -0.0967714 0.6774 0.290314 0.290315C0.6774 -0.0967707 1.30499 -0.0967707 1.69208 0.290315L15.7097 14.3079C16.0968 14.695 16.0968 15.3226 15.7097 15.7097C15.3226 16.0968 14.695 16.0968 14.3079 15.7097L0.290314 1.69208Z' fill='white'/%3E%3Cpath d='M1.69208 15.7097C1.30499 16.0968 0.6774 16.0968 0.290314 15.7097C-0.0967714 15.3226 -0.0967714 14.695 0.290314 14.3079L14.3079 0.290314C14.695 -0.0967714 15.3226 -0.0967714 15.7097 0.290314C16.0968 0.6774 16.0968 1.30499 15.7097 1.69208L1.69208 15.7097Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    top: 20px;
    right: 20px;
    width: 16px;
    cursor: pointer;
    height: 16px; }
  .form-wrapper__top {
    height: 220px;
    position: relative;
    padding: 40px 47px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media all and (max-width: 1023px) {
      .form-wrapper__top {
        padding: 30px 20px; } }
  .form-wrapper__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
    .form-wrapper__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .form-wrapper__title {
    position: relative;
    z-index: 2;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF; }
    @media all and (max-width: 1023px) {
      .form-wrapper__title {
        font-size: 28px; } }
  .form-wrapper__form {
    padding: 40px 47px;
    display: flex;
    flex-direction: column; }
    @media all and (max-width: 1023px) {
      .form-wrapper__form {
        padding: 30px 20px; } }
    .form-wrapper__form input[type="text"], .form-wrapper__form input[type="tel"], .form-wrapper__form input[type="email"], .form-wrapper__form input textarea {
      margin-bottom: 30px;
      height: 36px;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid #CCCCCC;
      padding: 10px 28px;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #000; }
      .form-wrapper__form input[type="text"]::placeholder, .form-wrapper__form input[type="tel"]::placeholder, .form-wrapper__form input[type="email"]::placeholder, .form-wrapper__form input textarea::placeholder {
        color: #CCCCCC; }
    .form-wrapper__form button {
      border: 0;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
      padding: 20px;
      background: #FF8006;
      border-radius: 500px;
      cursor: pointer;
      transition: all .3s ease-out; }
      .form-wrapper__form button:hover {
        background: #0095D9; }
  .form-wrapper .checkbox {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer; }
    .form-wrapper .checkbox label {
      display: block;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      padding-left: 30px; }
      .form-wrapper .checkbox label a {
        color: #0095D9; }
  .form-wrapper .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding-left: 30px; }
  .form-wrapper .custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #CCCCCC;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center center; }
  .form-wrapper .custom-checkbox:checked + label::before {
    background-color: #0095D9;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.26667L4.81818 9L13 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A"); }
  .form-wrapper .custom-checkbox:disabled + label::before {
    background-color: #e9ecef; }

.wrapper {
	overflow: hidden;
}
.form-wrapper__form button {
	width: 100%;
}
.dgwt-wcas-sf-wrapp input[type=search] {
	padding-right: 40px !important;
}
.blovk_new .benefits__wrapper {
	flex-wrap: wrap;
}
@media all and (min-width: 767px) {
.blovk_new .benefits__box {
	width: 33.33%;
	margin-bottom: 20px;
}
}
.new_first .main_first__navs {
	z-index: 2;
}
.main__bls__list li {
	position: relative;
}
.main__bls__list li:before {
	content: '';
	position: absolute;
	left: -20px;
	top: 11px;
	width: 2px;
	height: 2px;
	background: #000;
	border-radius: 50%;
}
@media (max-width: 1023px) {
	.burger-body .dgwt-wcas-search-wrapp {
		display: block;
		margin-right: 0;
		max-width: calc(100% - 130px);
		min-width: 0;
	}
	.burger-body .dgwt-wcas-sf-wrapp {
		max-width: 100%;
	}
	.dgwt-wcas-om-bar .dgwt-wcas-search-wrapp-mobile {
		display: block;
		border-radius: 0;
	}
}


































.sale-page--list.post_news.post_akcii {
	margin-left: -15px;
	margin-right: -15px;
	width: auto;
	justify-content: flex-start !important;
}
.sale-page--list.post_news.post_akcii .item {
	width: calc(33.3% - 30px);
	max-width: unset;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}
.sale-page--list.post_news .item .img {
	border-radius: 0;
	padding-top: 54%;
}
.post_container {
	max-width: 1200px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.sale-page--list.post_news .item .text {
	padding: 0;
	padding-top: 20px;
	border: 0;
}
.sale-page--list.post_news .item .post_date {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #D94400;
	margin-bottom: 22px;
}
.sale-page--list.post_news .item .text .title {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	display: block;
	color: #000000;
	margin-bottom: 20px;
}
.sale-page--list.post_news .item .short_desc {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #454545;
	margin-bottom: 20px;
}
.post_button {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	background: #0095D9;
	border-radius: 500px;
	display: inline-block;
	padding: 11px;
	max-width: 270px;
	width: 100%;
	transition: all .3s ease-out;
}
.post_button:hover {
	background: #FF8006;
}

.main_news .slick-prev {
	top: -60px;
    right: 61px;
}
.main_news .slick-next {
	top: -60px;
    right: 0px;
}
.main_news .main_services__top {
	max-width: 340px;
	width: 100%;
}
.sl_new_news {
	margin-left: 0 !important;
	margin-right: 0 !important
}
.sale-page--list.post_news .item .img {
	display: block;
}
.sl_new_news .item .img {
	padding-top: 51.2% !important;
}
.sl_new_news .post_button {
	max-width: 100% !important;
}
.img_single {
	position: relative;
	padding-top: 39.3%;
	overflow: hidden;
	width: 100%;
    height: 0;
	margin-bottom: 50px;
}
.img_single img {
	position: absolute;
	height: 100%;
	top: 0;
}
@media all and (max-width: 1200px) {
	.img_single img {
		position: relative;
	}
	.img_single {
		padding: 0;
		height: auto;
	}
}
@media all and (max-width: 620px) {
	.img_single {
		height: auto !important;
	}
}
.single_date {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #D94400;
	margin-bottom: 50px;
}
.single_title {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 37px;
	color: #0095D9;
	margin-bottom: 40px;
}
.txt_single p, .txt_single ul {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #454545;
}
.bread_splash {
	display: inline-flex;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #0095D9;
    margin: auto 15px;
	font-size: 0;
}
.breadcrumbs-wrapper__inner {
	display: flex;
	flex-wrap: wrap;
}
.breadcrumbs-wrapper__inner .current-item {
	color: #0095D9;
	text-decoration: underline;
}

@media all and (max-width: 1023px) {
	.breadcrumbs {
		flex-wrap: wrap;
	}
	.sale-page--list.post_news {
		margin-bottom: 0;
	}
	.sale-page--list.post_news.post_akcii .item {
		width: calc(50% - 30px);
	}
	.post_main .breadcrumbs-wrapper__inner {
		padding-bottom: 40px;
	}
	.post_main .intro__title {
		margin-bottom: 30px;
		font-size: 28px;
		line-height: 33px;
	}
	.sale-page--list.post_news .item .post_date {
		margin-bottom: 20px;
	}
	.post_button {
		max-width: 330px;
	}
	.img_single {
		margin-bottom: 30px;
	}
	.single_date {
		margin-bottom: 30px;
	}
	.single_title {
		font-size: 28px;
		line-height: 33px;
	}
}
@media all and (max-width: 680px) {
	.sale-page--list.post_news .item {
		width: 260px !important;
		margin-right: 15px !important;
	}
	.sale-page--list.post_news.post_akcii .item {
		width: 100% !important;
	}
	
	.sale-page--list.post_news.post_akcii {
		margin-left: 0;
		margin-right: 0;
	}
	.sl_new_news .item .img {
		padding-top: 50.2% !important;
	}
	.main_services .slick-prev, .main_services .slick-next {
		top: unset;
	}
	.sl_new_news .item {
		margin-bottom: 50px !important;
	}
}
@media all and (max-width: 620px) {
	.sale-page--list.post_news .item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.sale-page--list.post_news {
		margin-left: 0;
		margin-right: 0;
	}
	.img_single {
		height: 350px;
	}
}
/* @media all and (max-width: 480px) {
	.sale-page--list.post_news .item .img {
		padding-top: 85%;
	}
} */
.new_red_slider .main_first__c-side {
	padding: 0;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.new_red_slider .main_first__img2 {
	display: none;
}
@media all and (max-width: 480px) {
	.new_red_slider .main_first__img {
		display: none;
	}
	.new_red_slider .main_first__img2 {
		display: block;
	}
}















